# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::339713122183:role/github-actions-admin-aws
        role-session-name: GitHubActions
        web-identity-token-file: ${{ github.token_path }}

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - name: Install dependencies
      run: go get .

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .

    - name: Upsert ECR repository
      run: |
        REPO_NAME="${{ github.event.repository.name }}"
        aws ecr describe-repositories --repository-names $REPO_NAME || aws ecr create-repository --repository-name $REPO_NAME

    - name: Build the Docker image
      run: |
        REPO_NAME="${{ github.event.repository.name }}"
        IMAGE_TAG=$REPO_NAME:$GITHUB_SHA
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 339713122183.dkr.ecr.us-east-1.amazonaws.com/$REPO_NAME
        docker build -t $IMAGE_TAG .
        docker tag $IMAGE_TAG 339713122183.dkr.ecr.us-east-1.amazonaws.com/$IMAGE_TAG
        docker push 339713122183.dkr.ecr.us-east-1.amazonaws.com/$IMAGE_TAG
